spring:
  datasource:
    url: jdbc:mysql://localhost:3306/{gripDB}?serverTimezone=Asia/Seoul
    username: root
    password: {0808}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000

  cloud:
    aws:
      s3:
        bucket: digitaltok-bucket
      region:
        static: ap-northeast-2
      stack:
        auto: false
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
  # ... ?? ?? ...
  #  security:
  #    oauth2:
  #      client:
  #        registration:
  #          kakao:
  #            client-authentication-method: client_secret_post
  #            client-id: { ?? client-id }
  #            client-secret: { ?? client-secret }
  #            redirect-uri: http://{ ?? ec2 public ip ?? }:8080/login/oauth2/code/kakao
  #            authorization-grant-type: authorization_code
  #            scope: profile_nickname
  #            client-name: Kakao
  # ... ?? ?? ...