spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update   # create는 매번 데이터를 날리므로 update 추천
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  storage:
    type: s3

  # 최신 버전에서 cloud는 spring 밑에 있어야함
  cloud:
    aws:
      s3:
        bucket: digitaltok-bucket
      region:
        static: ap-northeast-2
      stack:
        auto: false
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
  #profiles:
  #  active: prod
  # ... ?? ?? ...
  #  security:
  #    oauth2:
  #      client:
  #        registration:
  #          kakao:
  #            client-authentication-method: client_secret_post
  #            client-id: { ?? client-id }
  #            client-secret: { ?? client-secret }
  #            redirect-uri: http://{ ?? ec2 public ip ?? }:8080/login/oauth2/code/kakao
  #            authorization-grant-type: authorization_code
  #            scope: profile_nickname
  #            client-name: Kakao
  # ... ?? ?? ...

  #이메일 서버 설정 (Gmail 예시)
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}  # 발송할 이메일 주소
    password: ${MAIL_PASSWORD}  # 구글 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  # JWT 설정
jwt:
  # 시스템 환경 변수 중 JWT_SECRET_KEY 값을 가져오고, 없으면 기본값(뒷부분)을 씁니다.
  secret: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 1209600