spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update   # create는 매번 데이터를 날리므로 update 추천
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  # 최신 버전에서 cloud는 spring 밑에 있어야함
  cloud:
    aws:
      s3:
        bucket: digitaltok-bucket
      region:
        static: ap-northeast-2
      stack:
        auto: false
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}

# JWT 설정
jwt:
  # 시스템 환경 변수 중 JWT_SECRET_KEY 값을 가져오고, 없으면 기본값(뒷부분)을 씁니다.
  secret: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 1209600


  # ... ?? ?? ...
  #  security:
  #    oauth2:
  #      client:
  #        registration:
  #          kakao:
  #            client-authentication-method: client_secret_post
  #            client-id: { ?? client-id }
  #            client-secret: { ?? client-secret }
  #            redirect-uri: http://{ ?? ec2 public ip ?? }:8080/login/oauth2/code/kakao
  #            authorization-grant-type: authorization_code
  #            scope: profile_nickname
  #            client-name: Kakao
  # ... ?? ?? ...